<!-- views/tv_360.html -->
<div class="container-fluid country overflow-hidden py-5" ng-controller="tvController">
    <div class="container">
        <div class="section-title text-center wow fadeInUp" data-wow-delay="0.1s" style="margin-bottom: 70px;">
            <h1 class="display-5 mb-4">Các Gói Truyền Hình Cho Ngôi Nhà Của Bạn</h1>
        </div>
        <div class="row g-4 text-center">
            <div class="col-lg-6 col-xl-6 mb-5 mb-xl-0 wow fadeInUp" data-wow-delay="0.1s"
                ng-repeat="package in tvPackages">
                <a href="">
                <div class="country-item" ng-click="goToDetail(package.title)">
                    <div class="rounded overflow-hidden">
                        <img ng-src="{{package.imgSrc}}" class="img-fluid w-100 rounded" alt="{{package.title}}">
                    </div>
                    <div class="country-flag">
                        <img src="img/viettel-logo.png" class="img-fluid rounded-circle" alt="Image">
                    </div>
                    <div class="country-name">
                        <h1 class="text-white fs-4">{{package.price | number:0}}{{package.unit_price}}</h1>
                        <p class="text-white fs-4">+{{package.channels}} kênh truyền hình</p>
                        <p class="text-white fs-4"><i>{{package.data}}</i></p>
                        <p class="text-white fs-4">{{package.availability}}</p>
                    </div>
                </div>
            </a>
            </div>
        </div>
    </div>
</div>

<!-- Contact Start -->
<div class="container-fluid contact overflow-hidden pb-5">
    <div class="container py-5">
        <div class="office pt-5">
            <div class="row g-4 justify-content-center">
                <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.1s"
                    ng-repeat="plan in cameraPlans">
                    <div class="office-item p-4">
                        <div class="office-img mb-4">
                            <img ng-src="{{plan.imgSrc}}" class="img-fluid w-100 rounded" alt="">
                        </div>
                        <div class="office-content d-flex flex-column">
                            <h4 class="mb-2">{{plan.title}}</h4>
                            <a href="#" class="text-secondary fs-5 mb-2">{{plan.price | number:0}}
                                {{plan.unit_price}}</a>
                            <a href="#" class="text-muted fs-5 mb-2">{{plan.description}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
